* { font-family: 'Raleway', cursive !important;
    font-size: 15px;}

.cartLineItem {
  width: 100%
}

.cartObject {
  float: right;
  width: 30%
}

.submitButton {
  margin-top: 2%;
}

#productList {
  float: left;
  width: 100%
}

.cartLineItem a {
  color: black;
}

.cartLineItem.ui img {
  transform: scale(2);
  margin: auto 2%;
}

.cartLineItem h4 {
  display: inline !important;
}

.removeLIButton {
  float: right;
}

.listedProduct {
  width: 66%;
}

/*.nav {
		padding-left : 350px;
}*/
