* { font-family: 'Raleway', cursive;
    font-size: 15px;}

h2 { font-family: 'Raleway', cursive !important;
    font-size: 25px;}

body {
  background-image: url("http://img2.wikia.nocookie.net/__cb20141212013646/pixar/images/a/a6/Inside-Out-Q%26A-Joy-Sadness.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

.cartLineItem {
  width: 100%
}

.cartObject {
  float: right;
  width: 30%
}

.submitButton {
  margin-top: 2%;
}

#productList {
  float: left;
  width: 100%
}

.cartLineItem a {
  color: black;
}

.cartLineItem.ui img {
  transform: scale(2);
  margin: auto 2%;
}

.cartLineItem h4 {
  display: inline !important;
}

.removeLIButton {
  float: right;
}

.listedProduct {
  width: 66%;
}


/*.nav {
		padding-left : 350px;
}*/
